CONFIG_TARGET_ramips=y                      # 目标平台为 RAMIPS 架构
CONFIG_TARGET_ramips_mt7621=y               # 使用 MT7621 芯片
CONFIG_TARGET_ramips_mt7621_DEVICE_zte_e8820s=y # 目标设备为 ZTE E8820S

CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_DEPRECATED=y


# 启用 luci-app-ssr-plus 及其相关功能支持
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y

# Passwall 插件已注释，若需要启用，去掉以下代码前的“#”
# CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y

# 替换默认 dnsmasq 为 dnsmasq-full，增强 DNS 功能
# 未启用的 dnsmasq 使用“is not set”表示
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y

# 启用 UPnP 服务
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_miniupnpd-nftables=y

# 系统优化与调试工具
CONFIG_PACKAGE_luci-app-ramfree=y         # 释放内存
CONFIG_PACKAGE_luci-app-autoreboot=y      # 自动重启
CONFIG_PACKAGE_luci-app-accesscontrol=y   # 访问控制
CONFIG_PACKAGE_luci-app-turboacc=y        # 网络加速插件
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y # 启用流量分流加速


